.container {
  padding: 2vh 2vw 2vh 2vw;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100%;
}

.leftSide {
  min-width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0%;
  margin: 0%;
}

.rightSide {
  min-width: 50vw;
  padding: 0%;
  margin: 0%;
}

.title {
  font-weight: 400;
  max-width: 50vw;
  opacity: 0.9;
  animation: typewriter 8s steps(110) 2s 1 normal both,
  blinkTextCursor 500ms steps(44) infinite normal;
  overflow: hidden;
  white-space: nowrap;
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 90vw;
  }
}
@keyframes blinkTextCursor {
  from {
    border-right-color: red;
  }
  to {
    border-right-color: transparent;
  }
}

.paragraphs {
  opacity: 0.8;
}

.paragraphsSateliteIntro {
  opacity: 0.8;
  font-style: oblique;
}

.rocketText{
  margin-bottom: -1vh;
}

.rocket{
  font-size: 3em;
  transform: rotate(90deg);
  margin-left: 2vw;
  animation: rocketMove 15s infinite alternate;
  opacity: 0;
}


@keyframes rocketMove {
  to {
    transform: translateY(-50px);
    opacity: 1;
  }
}

