.container {
  padding: 2vh 2vw 2vh 2vw;
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100%;
}

.leftSide {
  min-width: 50vw;
}

.rightSide {
  min-width: 50vw;
}

.title {
  font-weight: 400;
  max-width: 50vw;
  opacity: 0.9;
}

.paragraphs{
  opacity: 0.8;
}