.container {
  padding: 2vh 2vw 2vh 2vw;
  width: 100%;
  height: 100%;
  background-color: white;
  opacity: 0.98;
}

.title {
  animation: typewriter 4s steps(44) 1s 1 normal both,
  blinkTextCursor 500ms steps(44) infinite normal;
  overflow: hidden;
  white-space: nowrap;
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 90vw;
  }
}
@keyframes blinkTextCursor {
  from {
    border-right-color:red;
  }
  to {
    border-right-color: transparent;
  }
}
