.image {
  width: 20vw;
  animation: expandTiniWorlds 4s forwards;
  transform: scale(3);
}

.externalsatelite {
  fill: black;
  opacity: 0.5;
  animation: moveSatelite 10s forwards;
}

.innerSatelite {
  fill: black;
}

@keyframes expandTiniWorlds {
  to {
    transform: scale(1);
  }
}

@keyframes moveSatelite {
  to {
    transform: rotate(20deg) translateX(100px);
  }
}
