.mars {
  width: 10vw;
  animation: reverseRotatePlanet 2s forwards;
}

.marsClicked {
  width: 10vw;
  animation: rotatePlanet 2s forwards;
}

.neptun {
  width: 20vw;
}

.neptun:hover {
  animation: rotatePlanet 2s forwards;
}

.saturn {
  width: 10vw;
}

.saturn:hover {
  animation: rotatePlanet 2s forwards;
}

@keyframes rotatePlanet {
  to {
    transform: rotate(150deg);
  }
}

@keyframes reverseRotatePlanet {
  from {
    transform: rotate(150deg);
  }
  to {
    transform: rotate(0deg);
  }
}
