.mars {
  width: 10vw;
  animation: reverseRotatePlanet 2s forwards;
}

.marsClicked {
  width: 10vw;
  animation: rotatePlanet 2s forwards;
}

.neptun {
  width: 15vw;
  animation: reverseRotatePlanet 2s forwards;
}

.neptunClicked {
  width: 15vw;
  animation: rotatePlanet 2s forwards;
}


.saturn {
  width: 20vw;
  animation: reverseRotatePlanet 2s forwards;
}

.saturnClicked {
  width: 20vw;
  animation: rotatePlanet 2s forwards;
}

.neptunSatelite {
  animation: moveNeptunSatelite 8s infinite alternate;
}

@keyframes moveNeptunSatelite {
  to {
    transform: rotate(20deg) translateX(10px);
  }
}

.marsSatelite {
  animation: moveMarsSatelite 5s infinite alternate;
  fill: white;
}

@keyframes moveMarsSatelite {
  to {
    transform: rotate(75deg) translateX(5px) skew(40deg, 10deg);
  }
}


.saturnPlate {
  animation: moveSaturnPlate 2s infinite alternate;
}

@keyframes moveSaturnPlate {
  to {
    transform: rotate(10deg) translateX(1px);
  }
}

@keyframes rotatePlanet {
  to {
    transform: rotate(150deg);
  }
}

@keyframes reverseRotatePlanet {
  from {
    transform: rotate(150deg);
  }
  to {
    transform: rotate(0deg);
  }
}
