.image {
  width: 50vw;
}

.satelite {
  fill: black;
  opacity: 0.95;
  /* animation: moveSatelite 1s infinite alternate; */
  animation: moveSatelite 8s infinite alternate;
}

@keyframes moveSatelite {
  to {
   /* transform: rotate(20deg) translateY(10px) ; */
   transform: rotate(20deg) translateY(26px) ;
  }
}
